* text=auto !eol
/Auth.py -text
CPL/Exceptions/CmdError.py -text
CPL/Exceptions/CommError.py -text
CPL/Exceptions/Error.py -text
CPL/Exceptions/ICCError.py -text
CPL/Exceptions/__init__.py -text
CPL/ID.py -text
CPL/LLock.py -text
CPL/Logfile.py -text
CPL/Object.py -text
CPL/__init__.py -text
CPL/cfg.py -text
CPL/dates.py -text
CPL/location.py -text
CPL/log.py -text
CPL/protocol.html -text
CPL/qstr.py -text
CPL/strcvt.py -text
CPL/tback.py -text
CPL/tcmd.py -text
CPL/tqstr.py -text
Client/Actor.py -text
Client/ClientFilter.py -text
Client/Command.py -text
Client/CommandLink.py -text
Client/FilterQueue.py -text
Client/FullReply.py -text
Client/HubLink.py -text
Client/OrderedDict.py -text
Client/README.txt -text
Client/Reply.py -text
Client/__init__.py -text
Client/client.py -text
Docs/1.txt -text
Docs/DISchanges -text
Docs/FITS.txt -text
Docs/client.txt -text
Docs/nexpose.txt -text
Docs/procedures.txt -text
Docs/protocol.txt -text
Docs/security.txt -text
Hub/Command/Command.py -text
Hub/Command/Decoders/ASCIICmdDecoder.py -text
Hub/Command/Decoders/CommandDecoder.py -text
Hub/Command/Decoders/RawCmdDecoder.py -text
Hub/Command/Decoders/__init__.py -text
Hub/Command/Encoders/ASCIICmdEncoder.py -text
Hub/Command/Encoders/BinaryCmdEncoder.py -text
Hub/Command/Encoders/CommandEncoder.py -text
Hub/Command/Encoders/RawCmdEncoder.py -text
Hub/Command/Encoders/__init__.py -text
Hub/Command/XXCommandDecoders.py -text
Hub/Command/XXCommandEncoders.py -text
Hub/Command/__init__.py -text
Hub/KV/KVDict.py -text
Hub/KV/__init__.py -text
Hub/Nub/ActorNub.py -text
Hub/Nub/Commanders.py -text
Hub/Nub/CoreNub.py -text
Hub/Nub/Listeners.py -text
Hub/Nub/NubAuth.py -text
Hub/Nub/RawActorNub.py -text
Hub/Nub/ShellNub.py -text
Hub/Nub/SocketActorNub.py -text
Hub/Nub/SocketCommanderNub.py -text
Hub/Nub/TCCShellNub.py -text
Hub/Nub/__init__.py -text
Hub/Reply/Decoders/ASCIIReplyDecoder.py -text
Hub/Reply/Decoders/BinaryReplyDecoder.py -text
Hub/Reply/Decoders/PyReplyDecoder.py -text
Hub/Reply/Decoders/RawReplyDecoder.py -text
Hub/Reply/Decoders/ReplyDecoder.py -text
Hub/Reply/Decoders/__init__.py -text
Hub/Reply/Encoders/ASCIIReplyEncoder.py -text
Hub/Reply/Encoders/PyReplyEncoder.py -text
Hub/Reply/Encoders/RawReplyEncoder.py -text
Hub/Reply/Encoders/ReplyEncoder.py -text
Hub/Reply/Encoders/__init__.py -text
Hub/Reply/FullReply.py -text
Hub/Reply/Reply.py -text
Hub/Reply/ReplyTaster.py -text
Hub/Reply/__init__.py -text
Hub/__init__.py -text
Hub/notes.txt -text
Hub/scripts.txt -text
IO/Filehandler.py -text
IO/IOHandler.py -text
IO/PollAccept.py -text
IO/PollConnect.py -text
IO/PollHandler.py -text
IO/ShellConnect.py -text
IO/SocketHandler.py -text
IO/__init__.py -text
/Makefile -text
Misc/FITS/Cards/Card.py -text
Misc/FITS/Cards/CommentCard.py -text
Misc/FITS/Cards/IntCard.py -text
Misc/FITS/Cards/LogicalCard.py -text
Misc/FITS/Cards/PreformattedCard.py -text
Misc/FITS/Cards/RealCard.py -text
Misc/FITS/Cards/StringCard.py -text
Misc/FITS/Cards/ValuelessCard.py -text
Misc/FITS/Cards/__init__.py -text
Misc/FITS/FITS.py -text
Misc/FITS/Makefile -text
Misc/FITS/__init__.py -text
Misc/FITS/wing -text
Misc/FITS/wing.wpu -text
Misc/__init__.py -text
Misc/cdict.py -text
Misc/pyfits.py -text
Nubs/TUI.py -text
Nubs/__init__.py -text
Nubs/alerts.py -text
Nubs/apo.py -text
Nubs/apogee.py -text
Nubs/apogeecal.py -text
Nubs/apogeeql.py -text
Nubs/apogeetest.py -text
Nubs/benchboss.py -text
Nubs/boss.py -text
Nubs/client.py -text
Nubs/cmdin.py -text
Nubs/cmdinauth.py -text
Nubs/ecamera.py -text
Nubs/extin.py -text
Nubs/gcamera.py -text
Nubs/guider.py -text
Nubs/hartmann.py -text
Nubs/mcp.py -text
Nubs/nclient.py -text
Nubs/ping.py -text
Nubs/platedb.py -text
Nubs/rawin.py -text
Nubs/sop.py -text
Nubs/tcc-john.py -text
Nubs/tcc.py -text
Nubs/tcc25m-old.py -text
Nubs/toy.py -text
Nubs/zargs.py -text
Parsing/Exceptions.py -text
Parsing/__init__.py -text
Parsing/args.py -text
Parsing/dequote.py -text
Parsing/keys.py -text
TclActor/doc/GMechActor.html -text
TclActor/doc/TclActor.html -text
TclActor/doc/TclActorInternals.html -text
TclActor/python/TclActor/Actor.py -text
TclActor/python/TclActor/Command.py -text
TclActor/python/TclActor/Device.py -text
TclActor/python/TclActor/Version.py -text
TclActor/python/TclActor/__init__.py -text
TclActor/python/config/gmech.filters -text
TclActor/python/gmech.py -text
TclActor/setup.py -text
TclActor/tests/checkgmech.py -text
TclActor/tests/compareChecks.py -text
Vocab/InternalCmd.py -text
Vocab/__init__.py -text
Vocab/bcast.py -text
Vocab/hubCommands.py -text
Vocab/keys.py -text
Vocab/msg.py -text
Vocab/perms.py -text
bin/listActors.py -text
bin/now -text
bin/tron -text
bin/www-access -text
clients/expose/ExpPath.py -text
clients/expose/Exposure/ExpSequence.py -text
clients/expose/Exposure/Exposure.py -text
clients/expose/Exposure/__init__.py -text
clients/expose/Exposure/disExposure.py -text
clients/expose/Exposure/echelleExposure.py -text
clients/expose/Exposure/grimExposure.py -text
clients/expose/Exposure/nicfpsExposure.py -text
clients/expose/Exposure/spicamExposure.py -text
clients/expose/Exposure/tspecExposure.py -text
clients/expose/InstExposure.py -text
clients/expose/__init__.py -text
clients/expose/disExpose.py -text
clients/expose/echelleExpose.py -text
clients/expose/expose.py -text
clients/expose/grimExpose.py -text
clients/expose/nicfpsExpose.py -text
clients/expose/spicamExpose.py -text
clients/expose/tspecExpose.py -text
clients/guiders/AltaGCamera.py -text
clients/guiders/CameraShim.py -text
clients/guiders/GCamBase.py -text
clients/guiders/GFrame.py -text
clients/guiders/GimCtrlConnection.py -text
clients/guiders/GimCtrlGCamera.py -text
clients/guiders/GuideFrame.py -text
clients/guiders/GuideLoop.py -text
clients/guiders/Guider.py -text
clients/guiders/GuiderMask.py -text
clients/guiders/GuiderPath.py -text
clients/guiders/MyPyGuide.py -text
clients/guiders/README -text
clients/guiders/TCCGcam.py -text
clients/guiders/TCCState.py -text
clients/guiders/dcam.py -text
clients/guiders/gcam.py -text
clients/guiders/gcamera.py -text
clients/guiders/nfake.py -text
clients/guiders/sfocus.py -text
clients/nohup.out -text
clients/ping/ping.py -text
clients/zargs.py -text
config/apo.py -text
config/hub.py -text
config/lco.py -text
config/test.py -text
/deep_reload.py -text
/g.py -text
/hub.py -text
/passwords -text
/runhub.py -text
scripts/dither.py -text
scripts/echelle-check.py -text
scripts/m3.py -text
/svnVersion.py -text
ups/tron.table -text
