* text=auto !eol
/Auth.py -text
Docs/1.txt -text
Docs/DISchanges -text
Docs/FITS.txt -text
Docs/client.txt -text
Docs/nexpose.txt -text
Docs/procedures.txt -text
Docs/protocol.txt -text
Docs/security.txt -text
Hub/Command/Command.py -text
Hub/Command/Decoders/ASCIICmdDecoder.py -text
Hub/Command/Decoders/CommandDecoder.py -text
Hub/Command/Decoders/RawCmdDecoder.py -text
Hub/Command/Decoders/__init__.py -text
Hub/Command/Encoders/ASCIICmdEncoder.py -text
Hub/Command/Encoders/BinaryCmdEncoder.py -text
Hub/Command/Encoders/CommandEncoder.py -text
Hub/Command/Encoders/RawCmdEncoder.py -text
Hub/Command/Encoders/__init__.py -text
Hub/Command/__init__.py -text
Hub/KV/KVDict.py -text
Hub/KV/__init__.py -text
Hub/Nub/ActorNub.py -text
Hub/Nub/Commanders.py -text
Hub/Nub/CoreNub.py -text
Hub/Nub/Listeners.py -text
Hub/Nub/NubAuth.py -text
Hub/Nub/RawActorNub.py -text
Hub/Nub/ShellNub.py -text
Hub/Nub/SocketActorNub.py -text
Hub/Nub/SocketCommanderNub.py -text
Hub/Nub/TCCShellNub.py -text
Hub/Nub/__init__.py -text
Hub/Reply/Decoders/ASCIIReplyDecoder.py -text
Hub/Reply/Decoders/BinaryReplyDecoder.py -text
Hub/Reply/Decoders/PyReplyDecoder.py -text
Hub/Reply/Decoders/RawReplyDecoder.py -text
Hub/Reply/Decoders/ReplyDecoder.py -text
Hub/Reply/Decoders/__init__.py -text
Hub/Reply/Encoders/ASCIIReplyEncoder.py -text
Hub/Reply/Encoders/PyReplyEncoder.py -text
Hub/Reply/Encoders/RawReplyEncoder.py -text
Hub/Reply/Encoders/ReplyEncoder.py -text
Hub/Reply/Encoders/__init__.py -text
Hub/Reply/FullReply.py -text
Hub/Reply/Reply.py -text
Hub/Reply/ReplyTaster.py -text
Hub/Reply/__init__.py -text
Hub/__init__.py -text
Hub/notes.txt -text
Hub/scripts.txt -text
IO/Filehandler.py -text
IO/IOHandler.py -text
IO/PollAccept.py -text
IO/PollConnect.py -text
IO/PollHandler.py -text
IO/ShellConnect.py -text
IO/SocketHandler.py -text
IO/__init__.py -text
/Makefile -text
Misc/Exceptions/CmdError.py -text
Misc/Exceptions/CommError.py -text
Misc/Exceptions/Error.py -text
Misc/Exceptions/ICCError.py -text
Misc/Exceptions/__init__.py -text
Misc/ID.py -text
Misc/LLock.py -text
Misc/Logfile.py -text
Misc/Object.py -text
Misc/__init__.py -text
Misc/cdict.py -text
Misc/cfg.py -text
Misc/dates.py -text
Misc/location.py -text
Misc/log.py -text
Misc/protocol.html -text
Misc/qstr.py -text
Misc/strcvt.py -text
Misc/tback.py -text
Misc/tcmd.py -text
Misc/tqstr.py -text
Nubs/TUI.py -text
Nubs/__init__.py -text
Nubs/alerts.py -text
Nubs/apo.py -text
Nubs/apogee.py -text
Nubs/apogeecal.py -text
Nubs/apogeeql.py -text
Nubs/apogeetest.py -text
Nubs/benchboss.py -text
Nubs/bmo.py -text
Nubs/boss.py -text
Nubs/client.py -text
Nubs/cmdin.py -text
Nubs/cmdinauth.py -text
Nubs/ecamera.py -text
Nubs/extin.py -text
Nubs/gcamera.py -text
Nubs/guider.py -text
Nubs/hartmann.py -text
Nubs/mcp.py -text
Nubs/nclient.py -text
Nubs/platedb.py -text
Nubs/rawin.py -text
Nubs/sop.py -text
Nubs/tcc-john.py -text
Nubs/tcc.py -text
Nubs/tcc25m-old.py -text
Nubs/toy.py -text
Parsing/Exceptions.py -text
Parsing/__init__.py -text
Parsing/args.py -text
Parsing/dequote.py -text
Parsing/keys.py -text
Vocab/InternalCmd.py -text
Vocab/__init__.py -text
Vocab/bcast.py -text
Vocab/hubCommands.py -text
Vocab/keys.py -text
Vocab/msg.py -text
Vocab/perms.py -text
bin/listActors.py -text
bin/now -text
bin/tron -text
bin/www-access -text
config/apo.py -text
config/hub.py -text
config/lco.py -text
config/test.py -text
/deep_reload.py -text
etc/config.ini -text
etc/tron.module -text
/g.py -text
/hub.py -text
/runhub.py -text
/svnVersion.py -text
ups/tron.table -text
